<section id="contactanos-section" class="bg-[#e0e2e6] relative pt-[4rem] bg-cover bg-center opacity-0 transform -translate-x-10 transition-all duration-700"
    style="background-image: url('/assets/images/contacto/contacto.jpg');">

    <!-- Overlay -->
    <div class="absolute inset-0 bg-slate-500 bg-opacity-40 pointer-events-none"></div>

    <div class="relative z-10 max-w-7xl mx-auto py-12 space-y-12">

        <!-- Título -->
        <h2 class="text-3xl md:text-4xl font-bold text-center text-white">
            Contáctanos
        </h2>

        <!-- Dirección + mapa -->
        <div class="space-y-6">
            <div class="bg-white/80 border-gray-200 p-6 rounded-lg text-center">
                <h3 class="text-xl font-semibold mb-2">
                    Acercate a nuestras oficinas
                </h3>
                <p class="text-gray-700 sm" >
                    Estamos ubicados en La Rioja 44, Chos Malal, Neuquén, Argentina.
                </p>
            </div>
            <div class="rounded-lg overflow-hidden shadow-lg h-[350px]">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d515.0948125975467!2d-70.2705954!3d-37.3831892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9672722103c98b9d%3A0x8b7697c203b247d1!2sLa%20Rioja%2044%2C%20Q8353BGA%20Chos%20Malal%2C%20Neuqu%C3%A9n%2C%20Argentina!5e0!3m2!1ses-419!2sar!4v1692881590000!5m2!1ses-419!2sar"
                    width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>

        <!-- Formulario + descripción mail -->
        <div class="flex flex-col md:flex-row gap-6">
            <!-- Columna izquierda: Formulario -->
            <div class="flex-1 space-y-6">
                <div class="bg-white/80 border-gray-200 p-6 rounded-lg text-center">
                    <h3 class="text-xl font-semibold mb-2">
                        Comunicate por mail
                    </h3>
                    <p class="text-gray-700 sm" >
                        Envíanos tu consulta y te responderemos a la brevedad.
                    </p>
                </div>

                <!-- Formulario -->
                <form [formGroup]="contactForm" (ngSubmit)="onSubmit()"
                    class="bg-white p-6 rounded-lg shadow-lg space-y-4">
                    <input type="text" formControlName="name" placeholder="Nombre" class="w-full p-2 border rounded" />
                    <input type="email" formControlName="email" placeholder="Email" class="w-full p-2 border rounded" />
                    <input type="text" formControlName="phone" placeholder="Teléfono (opcional)"
                        class="w-full p-2 border rounded" />

                    <select formControlName="localidad" class="w-full p-2 border rounded">
                        <option value="">Seleccione su localidad</option>
                        <option *ngFor="let loc of localidades" [value]="loc.label">{{ loc.label }}</option>
                    </select>

                    <textarea formControlName="message" placeholder="Escriba su mensaje" rows="4"
                        class="w-full p-2 border rounded"></textarea>

                    <input type="text" formControlName="website" style="display:none" autocomplete="off">

                    <button type="submit" [disabled]="!contactForm.valid || enviando || contador"
                        class="w-full bg-gray-600 text-white p-3 rounded hover:bg-gray-800 flex items-center justify-center transition">
                        <span *ngIf="enviando">Enviando...</span>
                        <span *ngIf="!enviando && contador">Esperá {{ contador }}s</span>
                        <span *ngIf="!enviando && !contador">Enviar mensaje</span>
                    </button>

                    <div *ngIf="enviado" class="text-green-600 mt-2">Mensaje enviado con éxito</div>
                    <div *ngIf="error" class="mt-4 text-red-600 text-sm">Ocurrió un error al enviar: {{ errorDetalle }}
                    </div>
                </form>
            </div>


            <div class="flex-1 space-y-6">
                <div class="bg-white/80 border-gray-200 p-6 rounded-lg text-center">
                    <h3 class="text-xl font-semibold mb-2" >
                        Contactanos al instante
                    </h3>
                    <p class="text-gray-700">
                        También podés escribirnos por WhatsApp, llamarnos o seguirnos en las redes.
                    </p>
                </div>

                <!-- Columna derecha: Íconos -->
                <div class="flex flex-row justify-center items-center gap-6">
                    <!-- WhatsApp -->
                    <a href="https://wa.me/5492942655415" target="_blank"
                        class="flex flex-col items-center md:items-start">
                        <div
                            class="w-16 h-16 flex items-center justify-center rounded-full bg-white text-green-600 shadow hover:bg-green-600 hover:text-white transition hover:animate-bounce-button">
                            <fa-icon [icon]="['fab','whatsapp']" class="text-3xl"></fa-icon>
                        </div>
                        <span class="text-sm text-white mt-1 font-semibold">WhatsApp</span>
                    </a>

                    <!-- Teléfono -->
                    <a href="tel:+5492942655415" class="flex flex-col items-center md:items-start">
                        <div
                            class="w-16 h-16 flex items-center justify-center rounded-full bg-white text-red-600 shadow hover:bg-red-600 hover:text-white transition hover:animate-bounce-button">
                            <fa-icon [icon]="['fas','phone']" class="text-2xl"></fa-icon>
                        </div>
                        <span class="text-sm text-white mt-1 font-semibold">Teléfono</span>
                    </a>

                    <!-- Facebook -->
                    <a href="https://www.facebook.com/profile.php?id=100088074614284" target="_blank"
                        class="flex flex-col items-center md:items-start">
                        <div
                            class="w-16 h-16 flex items-center justify-center rounded-full bg-white text-blue-600 shadow hover:bg-blue-700 hover:text-white transition hover:animate-bounce-button">
                            <fa-icon [icon]="['fab','facebook-f']" class="text-2xl"></fa-icon>
                        </div>
                        <span class="text-sm text-white mt-1 font-semibold">Facebook</span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>