/* Rebote personalizado al hover */
@keyframes bounce-button {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.hover\:animate-bounce-button:hover {
  animation: bounce-button 0.7s ease;
}



