@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slideIn 0.7s ease-out forwards;
}

/* Para scroll suave debajo del header fijo */
#servicios-section {
  scroll-margin-top: 6rem; /* Ajusta según altura de tu header */
}

.card-custom {
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.15);
}

.wpp-btn {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none; // evita clics cuando está oculto
}

.fade-in {
  opacity: 1;
  pointer-events: auto;
}

.fade-out {
  opacity: 0;
  pointer-events: none;
}



/* Rebote personalizado al hover */
@keyframes bounce-button {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

.hover\:animate-bounce-button:hover {
  animation: bounce-button 0.4s ease;
}