.home-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;

  .intro {
    flex: 1;
    padding-right: 2rem;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      color: #004d40;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
      color: #333;
    }
  }

  .image {
    flex: 1;

    img {
      width: 100%;
      border-radius: 10px;
      max-height: 400px;
      object-fit: cover;
    }
  }
}

span {
  display: inline-block;
}

.wpp-btn {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none; // evita clics cuando está oculto
}

.fade-in {
  opacity: 1;
  pointer-events: auto;
}

.fade-out {
  opacity: 0;
  pointer-events: none;
}



/* Responsive para pantallas pequeñas */

@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    padding: 1rem;

    .intro {
      padding-right: 0;
      text-align: center;

      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
      }

      .btn-contacto {
        display: inline-block;
        margin-top: 1rem;
      }
    }

    .image {
      margin-top: 1.5rem;

      img {
        max-height: 250px;
      }
    }

  }
}